*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}
.Movie{
    background-image: url('https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}
.box{
    display: flex;
    justify-content: space-between;
}

.search{
    height: 200px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}
